<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SI 650 Search Demo</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto:300|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

<div class="topnav">
    <h1>SI 650 Search Demo</h1>
    <div class="search-container">
        <form action="/results" method="POST">
            <input type="text" name="searchterm"/> <br/>
            <button type="submit" value="Search">Search</button>
        </form>
    </div>
</div>

</body>
</html>