<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SI 650 Search Demo</title>
</head>
<body>
<h1>SI 650 Search Demo</h1>

<div class="topnav">
    <div class="search-container">
        <!--<form action="results.html">-->
            <!--<input type="text" placeholder="Search.." name="search">-->
            <!--<button type="submit">Submit</button>-->
        <!--</form>-->

        <form action="/results" method="POST">

            Search: <input type="text" name="searchterm"/> <br/>

            <input type="submit" value="submit"/>

        </form>

    </div>
</div>

</body>
</html>